.aboutme-page {
    min-height: 100vh;
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.aboutme-title {
    flex-basis: 40%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.aboutme-title h2 {
    font-size: 2.25rem;
    font-weight: 200;
}

.aboutme-infor, .aboutme-skill {
    flex-basis: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.aboutme-infor {
    justify-content: flex-end;
}

.aboutme-skill {
    justify-content: center;
}

.aboutme-para1, .aboutme-para2 {
    font-size: 1.25rem;
    max-width: 27rem;
    margin-bottom: 2rem;
    font-weight: 100;
}

.skill-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

@media screen and (max-width: 1000px) {
    .aboutme-para1, .aboutme-para2 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 850px) {
    .aboutme-page {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        min-height: 100vh;
    }

    .aboutme-title {
        flex-basis: content;
    }

    .aboutme-infor, .aboutme-skill {
        flex-shrink: 1;
        justify-content: center;
    }

    .skill-badges {
        justify-content: center;
    }

    .aboutme-para1, .aboutme-para2, .skill-badges {
        padding: 0 2em;
    }
}