.projects-page {
    min-height: 100vh;
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-title {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projects-title h2 {
    font-size: 2.25rem;
    font-weight: 200;
}

.projects-container {
    flex-grow: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
}

@media screen and (max-width: 1200px){
    .projects-page {
        flex-direction: column;
        
    }
    .projects-title {
        flex-basis: auto;
    }
}


