html {
    font-size: 16px;
}

* {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease-in;
    box-sizing: border-box;
}

.page-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.page-layout .sidebar {
    position: sticky;
    top: 0;
    flex-basis: 12%;
}

.main-content {
    flex: 1;
    position: relative;
}

.switch-wrapper {
    position: absolute;
    right: 1em;
    top: 1em;
}

footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}

@media screen and (min-width: 2700px) {
    :root {
        font-size: 24px;
    }
}

@media screen and (min-width: 3500px) {
    :root {
        font-size: 36px;
    }
}

@media screen and (max-width: 580px) {
    :root {
        font-size: 14px;
    }
}