* {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease-in;
}

.page-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.page-layout .sidebar {
    position: sticky;
    top: 0;
}

.main-content {
    flex: 1;
    position: relative;
}

.switch-wrapper {
    position: absolute;
    right: 10px;
    top: 10px;
}

footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}